
.content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 77px);
}

.stage1{
    width: 270px;
    background: #8f9396;
    border-radius: 3px;
    opacity: 0.5;
    margin: 0 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    flex-shrink: 0;
}

.stage1 :hover{
    background:#828283; 
    border-radius: 3px;
}

.stage1_text{
    margin: 0;
    padding: 10px;
    opacity: 1;
}

.stage2{
    width: 262px;
    background: #E2E4E6;
    border-radius: 3px;
    margin: 0 5px;
    padding: 4px;
    display: none;
    flex-shrink: 0;
}


.stage2_textinput{
    display: block;
    width: 100%;
    min-height: 34px;
    border-radius: 3px;
    border: 1px solid #aaa;
    background: rgba(0,0,0,.05);
    box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    box-sizing: border-box;
    white-space: nowrap;
    padding-left: 5px;
}

.stage2_button{
    background: #5aac44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    min-height: 30px;
    cursor: pointer;
    font-weight: 700;
    margin: 4px 4px 0 0;
    padding: 5px 16px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
}

.stage2_button:hover{
    background: #59a543;
}

.stage3{
    width: 270px;
    background: #E2E4E6;
    border-radius: 3px;
    margin: 0 5px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    flex-shrink: 0;
}

.stage3_header{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    padding: 10px 8px 5px;
}

.stage3_addCard{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 10px 8px;
    cursor: pointer;
    color: #4d4d4d;
}

.stage3_addCard:hover{
    text-decoration: underline;
    background: #CDD2D4;
    border-radius: 0 0 3px 3px;
}

.stage3_button{
    background: #5aac44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    min-height: 30px;
    cursor: pointer;
    font-weight: 700;
    margin: 4px;
    padding: 5px 16px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    display: none;
}

.stage3_textarea{
    border-radius: 3px;
    margin: 0 4px;
    min-width: 254px;
    max-width: 254px;
    min-height: 54px;
    max-height: 300px;
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #969b9f;
    padding-left: 5px;
}

.stage3_stageCard_text{
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    padding: 8px 4px;
    margin: 4px;
    color: #4D4D4D;
    font-weight: 400;
    box-shadow: 0 1px 0 #d2ddcf;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
}

.stage3_stageCard_text:hover{
    background: #EDEFF0;
    border-radius: 3px;
}

.stage3_menu_openButton{
    position: absolute;
    top: -14px;
    right: 10px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    width: 20px;
    text-align: center;;
}

.stage3_menu_openButton:hover{
    color: #4D4D4D;
}



.stage3Menu{
    border-radius: 3px;
    background: #FFFFFF;
    min-width: 300px;
    max-width: 300px;
    position: absolute;
    border: 1px solid #d6dadc;
}

.stage3Menu_card{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #4D4D4D;
    font-size: 14px;
    padding: 10px 4px;
    margin: 5px 0;
}

.stage3Menu_card:hover{
    background: #298FCA;
    color: #fff;
}

.stage3Menu_header{
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: rgb(133, 135, 138);

}

.stage3Menu_closeButton{
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 3px;
    width: 25px;
    height: 22px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    color: rgb(133, 135, 138);
}

.stage3Menu_closeButton:hover{
    background: #939492;
    color: #fff;
}

.stage3Menu_line{
    border-width: 0.5px;
    margin: 0 10px;
}

.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.stage3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.stage3::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.stage3::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}